.m1 {
  margin: $spacing-medium;
}
.mt1 {
  margin-top: $spacing-medium;
}
.mr1 {
  margin-right: $spacing-medium;
}
.mb1 {
  margin-bottom: $spacing-medium;
}
.ml1 {
  margin-left: $spacing-medium;
}
.mx1 {
  margin-right: $spacing-medium;
  margin-left: $spacing-medium;
}
.my1 {
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
}

.m-10-0-0-0 {
  margin-top: $spacing-normal;
}
