.p1 {
  padding: $spacing-medium;
}
.pt1 {
  padding-top: $spacing-medium;
}
.pr1 {
  padding-right: $spacing-medium;
}
.pb1 {
  padding-bottom: $spacing-medium;
}
.pl1 {
  padding-left: $spacing-medium;
}
.py1 {
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
}
.px1 {
  padding-right: $spacing-medium;
  padding-left: $spacing-medium;
}

.pt10 {
  padding-top: $spacing-normal;
}
