.form-login {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;

  &__col {
    box-sizing: border-box;
    padding: $spacing-medium;

    background: rgba($color-grey, .5);
    box-shadow: $shadow-std;
  }
}
