.cart {
  &__collaterals {

    td,
    span {
      text-align: right;
    }
  }

  &__thumbnail {
    width: 55px;
    margin-right: $spacing-normal;
  }

  &__product-name {
    display: flex;
    align-items: center;
  }
}

.shop_table {
  thead {
    background: $color-bg;
  }

  tr {
    &:nth-child(2) {
      background: $color-bg;
    }
  }

  tfoot {
    background: $color-bg;

    tr {
      &:last-child {
        background: $color-bg;
      }
    }
  }

  td,
  th {
    &:last-child {
      text-align: right;
    }
  }
}

.cart {
  &__form-head {
    background: $color-bg;
  }

  &__form-body {
    img {
      border-radius: $border-radius-std;
    }

    tr {
      &:nth-child(2) {
        background: $color-bg;
      }
    }
  }

  &__form-footer {
    background: $color-bg;
  }

  .product-price,
  .product-quantity,
  .product-subtotal,
  .product-remove {
    text-align: center;
  }

  &_totals {
    tr {
      &:nth-child(2) {
        background: $color-bg;
      }
    }
  }
}

.cart-checkout {
  &__place-order {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .terms {
      margin: 0;
      padding: $spacing-medium;

      border-radius: $border-radius-std;
      background-color: $color-grey;
      box-shadow: $shadow-std;
    }
  }

  &__place-order-button {
    float: right;
  }
}

.checkout {
  @include rem(font-size, 16px);

  &__tab-content {
    box-sizing: border-box;
    padding: $spacing-medium;

    background: rgba($color-black, .3);

    &.tap-order {
      @media (max-width: 767px) {
        padding: $spacing-medium $spacing-small;
      }
    }
  }
}

.checkout_cart {
  .product-total {
    text-align: right;
  }
}

#shipping_method {
  li {
    display: flex;
    flex-direction: row-reverse;

    margin: 0 0 $spacing-medium;

    label {
      display: flex;

      margin-right: $spacing-medium;

      align-items: center;
    }
  }

  .amount {
    margin-left: 10px;
  }
}

.coupon {
  margin: 0 0 $spacing-medium;
}

.wc-terms-and-conditions,
.wc_payment_method {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: $spacing-medium;

  img {
    width: 50px;
    margin: $spacing-normal 0;
    display: block;
  }

  input {
    margin-right: $spacing-medium;
  }
}

.payment_box {
  margin: $spacing-normal 0;
  padding: $spacing-medium;
  width: 100%;

  border-radius: $border-radius-std;
  background: $color-grey;
  box-shadow: $shadow-std;
}
