.cart {
  &__collaterals {

    td,
    span {
      text-align: right;
    }
  }

  &__thumbnail {
    width: 55px;
    margin-right: 10px;
  }

  &__product-name {
    display: flex;
    align-items: center;
  }
}

.shop_table {
  thead {
    background: $color-bg;
  }

  tr {
    &:nth-child(2) {
      background: $color-bg;
    }
  }

  tfoot {
    background: $color-bg;

    tr {
      &:last-child {
        background: $color-bg;
      }
    }
  }

  td,
  th {
    &:last-child {
      text-align: right;
    }
  }
}

.cart {
  &__form-head {
    background: $color-bg;
  }

  &__form-body {
    img {
      border-radius: $border-radius-std;
    }

    tr {
      &:nth-child(2) {
        background: $color-bg;
      }
    }
  }

  &__form-footer {
    background: $color-bg;
  }

  .product-price,
  .product-quantity,
  .product-subtotal,
  .product-remove {
    text-align: center;
  }

  &_totals {
    tr {
      &:nth-child(2) {
        background: $color-bg;
      }
    }
  }
}

.cart-checkout {
  &__place-order {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .terms {
      margin: 0;
      padding: 20px;

      border-radius: $border-radius-std;
      background-color: $color-grey;
      box-shadow: $shadow-std;
    }
  }

  &__place-order-button {
    float: right;
  }
}

.checkout {
  &__tab-content {
    box-sizing: border-box;
    padding: 20px;

    background: rgba($color-black, .3);

    &.tap-order {
      @media (max-width: 767px) {
        padding: 20px 5px;
      }
    }
  }
}

.checkout_cart {
  .product-total {
    text-align: right;
  }
}

#shipping_method {
  li {
    display: flex;
    flex-direction: row-reverse;

    margin: 0 0 20px;

    label {
      display: flex;

      margin-right: 20px;

      align-items: center;
    }
  }

  .amount {
    margin-left: 10px;
  }
}

.coupon {
  margin: 0 0 20px;
}

.wc_payment_method {
  position: relative;

  margin-bottom: 20px;
  padding-left: 40px;

  label {
    margin: 5px 0;
  }

  img {
    width: 25px;
  }

  .input-radio {
    position: absolute;
    top: 50%;
    left: 10px;

    height: 20px;

    transform: translate3d(0,-50%,0);
  }
}

#payment div.payment_box {
  padding: 20px;

  border-radius: $border-radius-std;
  background: $color-grey;
  box-shadow: $shadow-std;
}

.wc-terms-and-conditions {
  position: relative;

  padding-left: 40px;

  input {
    position: absolute;
    left: 10px;
  }
}
