.cat-list {
  &__title {
    position: relative;

    display: flex;

    height: 35px;
    margin: 0 0 10px 0;
    padding: 0 70px 0 0;

    text-align: left;

    color: $color-warm;

    font-size: 14px;

    align-items: center;
  }

  &__name {
    display: block;
    overflow: hidden;

    text-overflow: ellipsis;
  }

  &__desc {
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-transform: none;
    text-overflow: ellipsis;

    color: $color-white;

    font-size: $font-size-small;
  }

  &__count {
    position: absolute;
    top: 50%;
    right: 35px;

    display: inline-block;

    padding: 2px 11px;

    transform: translateY(-50%);

    border-radius: $border-radius-std;
    background: rgba(0,0,0,.5);

    font-size: .7em;
  }

  &__subcat {
    display: none;

    padding: 0 0 0 $spacing-large;

    list-style: none;

    border-left: 1px solid $color-attention;

    .cat-list__group-open & {
      display: block;
    }
  }

  &__subcat-control {
    position: absolute;
    top: 0;
    right: -10px;

    svg {
      border-radius: $border-radius-round;
    }
  }
}

.subcat {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &__item {
    border-radius: $border-radius-std;
    background-color: $color-black;
    box-shadow: $shadow-std;
    margin-right: $spacing-medium;
    margin-bottom: $spacing-medium;
  }

  &__title {
    position: relative;

    display: flex;

    height: 20px;
    margin: 0;
    padding: $spacing-normal 70px $spacing-normal $spacing-medium;

    text-align: left;

    color: $color-warm;

    font-size: 14px;

    align-items: center;
  }

  &__name {
    display: block;
    overflow: hidden;
    padding: 0 $spacing-medium 0 0;

    text-overflow: ellipsis;
  }

  &__desc {
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-transform: none;
    text-overflow: ellipsis;

    color: $color-white;

    font-size: $font-size-small;
  }

  &__count {
    position: absolute;
    top: 50%;
    right: 20px;

    display: inline-block;

    padding: 2px 11px;

    transform: translateY(-50%);

    border-radius: $border-radius-std;
    background: rgba(0,0,0,.5);

    font-size: .7em;
  }

  &__subcat {
    display: none;

    margin: 0 -20px;
    padding: 0 0 0 25px;

    list-style: none;

    border-left: 1px solid $color-attention;

    .cat-list__group-open & {
      display: block;
    }
  }

  &__subcat-control {
    position: absolute;
    top: 0;
    right: -10px;

    svg {
      border-radius: $border-radius-round;
    }
  }
}
