.control {
  &__items {
    user-select: none;
  }

  &__up,
  &__down,
  &__prev,
  &__next {
    padding: 5px;

    cursor: pointer;
    transition: color $transition-normal;

    border-radius: $border-radius-std;
    background: $color-button-bg-normal;
    box-shadow: $shadow-std;

    path {
      transition: transform $transition-normal;
      transform-origin: 50% 50%;
    }
  }

  &__up {
    path {
      transform: rotate(-90deg);
    }
  }

  &__down {
    path {
      transform: rotate(90deg);
    }
  }
}

.swiper-button-disabled {
  cursor: not-allowed;

  color: $color-charcoal;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  transition: opacity 300ms;

  opacity: 1;
}

.img-padding-ratio__wrap {
  position: relative;

  width: 100%;

  a,
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.skaala_paremale {
  display: flex;
  flex-wrap: wrap;
}

.progress-bar {
  width: 100%;
  padding: $spacing-medium;
  margin-bottom: $spacing-small;
  background-color: $color-bg;
  border-radius: $border-radius-std;

  &__title {
    margin-bottom: $spacing-normal;
  }

  &__graph {
    position: relative;
    background-color: $color-bg;
    border-radius: $border-radius-medium;
  }

  &__percentage {
    position: relative;
    z-index: 1;
    color: $color-text-light;
    left: $spacing-medium;
    text-shadow: none;
  }

  &__value {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: $color-warm;
    border-radius: $border-radius-medium;
  }
}
