.control {
  &__items {
    user-select: none;
  }

  &__up,
  &__down,
  &__prev,
  &__next {
    padding: 5px;

    cursor: pointer;
    transition: color $transition-normal;

    border-radius: $border-radius-std;
    background: $color-button-bg-normal;
    box-shadow: $shadow-std;

    path {
      transition: transform $transition-normal;
      transform-origin: 50% 50%;
    }
  }

  &__up {
    path {
      transform: rotate(-90deg);
    }
  }

  &__down {
    path {
      transform: rotate(90deg);
    }
  }
}

.swiper-button-disabled {
  cursor: not-allowed;

  color: $color-charcoal;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  transition: opacity 300ms;

  opacity: 1;
}

.img-padding-ratio__wrap {
  position: relative;

  width: 100%;

  a,
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.progress-bar {

  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;

  &__inner {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #93A2AC;
    font-family: Lato;
    font-weight: 100;
    margin: 2rem;

    &:before {
      content: attr(data-name);
      position: absolute;
      width: 100%;
      bottom: -2rem;
      font-weight: 400;
    }

    &:after {
      content: attr(data-percent);
      position: absolute;
      width: 100%;
      top: 3.7rem;
      left: 0;
      font-size: 2rem;
      text-align: center;
    }
  }

  svg {
    width: 10rem;
    height: 10rem;

    path {
      stroke-width: 10px
    }

    &:nth-child(1) {

      path {
        stroke: $color-go;
      }
    }

    &:nth-child(2) {
      position: absolute;
      left: 0;
      top: 0;
      transform: rotate(-90deg);
    }

    &:nth-child(2) path {
      fill: none;
      stroke-dasharray: 629;
      stroke-width: 15px;
      stroke: $color-black;
    }
  }
}
