@include fontFace('Oswald', '../fonts/oswald-extralight', normal, 200);
@include fontFace('Oswald', '../fonts/oswald-light', normal, 300);
@include fontFace('Oswald', '../fonts/oswald-regular', normal, 400);
@include fontFace('Oswald', '../fonts/oswald-medium', normal, 500);
@include fontFace('Oswald', '../fonts/oswald-demibold', normal, 600);
@include fontFace('Oswald', '../fonts/oswald-bold', normal, 700);

html {
  font-size: 13px;

  -webkit-text-size-adjust: none; // Prevent font scaling in landscape
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}

body {
  overflow-x: hidden;

  margin: 0;

  background-image: radial-gradient(circle at 50%, rgba(17, 52, 181, .9) 40%, rgba(234, 0, 64, .9) 100%);
  background-attachment: fixed;
  text-shadow: $shadow-text;

  font-family: $typeface-primary;
  color: $color-white;

}

a {
  display: inline-block;

  max-width: 100%;

  cursor: pointer;
  text-decoration: none;

  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5em;

  font-weight: $font-weight-normal;
  line-height: 1.2;
}

h1,
h2 {
  text-transform: uppercase;

  font-weight: $font-weight-normal;
}

h2 {
  margin: 0 0 15px;
}

h5 {
  margin: 0 0 5px;
}

p,
td {
  font-family: $typeface-secondary;
}

p {
  margin: 0 0 1em;

  line-height: 1.4;

  a {
    color: $color-warm;
  }
}

div {
  box-sizing: border-box;
}

fieldset {
  margin: 0 0 1em;
}

table {
  width: 100%;

  border-collapse: collapse;

  font-family: $typeface-secondary;
}

tr {
  &.alt {
    background: $color-bg;
  }
}

th,
td {
  padding: 10px;

  text-align: left;

  border: 0;

  font-weight: $font-weight-normal;

  @media (max-width: 767px) {
    padding: 5px;
  }
}

dl {
  margin: 0;
}

dt,
dd {
  display: inline-block;

  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;

  &[type=text] {
    min-height: 30px;
  }

  &[type=number] {
    text-align: center;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &[type=checkbox],
  &[type=radio] {
    position: relative;

    width: 20px;
    height: 20px;

    color: $color-white;
    border: 1px solid $color-go;
    border-radius: $border-radius-round;
    background: $color-button-bg-normal;
    box-shadow: $shadow-std;
    text-shadow: $shadow-text;

    -webkit-appearance: none;

    &:checked {
      background: $color-go;

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;

        content: '✔';
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }
}

textarea,
input {
  &::-webkit-input-placeholder {
    color: rgba($color-white, .5);
  }
  &::-moz-placeholder {
    color: rgba($color-white, .5);
  }
  &:-ms-input-placeholder {
    color: rgba($color-white, .5);
  }
}

select,
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=number] {
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;

  vertical-align: middle;

  color: inherit;
  border: none;
  border-radius: 5px;
  border-radius: $border-radius-medium;
  outline: none;
  background: $color-input-bg-normal;
  box-shadow: $shadow-std;
  // text-shadow: $shadow-text;

  font-size: 12px;
  line-height: 30px;

  -webkit-appearance: none;
}

select {
  cursor: pointer;

  font-family: $typeface-primary;
  background: $color-warm;
  color: $color-black;
  border-radius: $border-radius-std;
}

label {
  display: block;
  font-family: $typeface-secondary;
}

textarea {
  color: $color-white;
  border: 0;
  border-radius: $border-radius-std;
  background: $color-button-bg-normal;
  box-shadow: $shadow-std;
  text-shadow: $shadow-text;
  width: 100%;
  min-height: 300px;
}

hr {
  width: 100%;
  margin: 15px 0;

  border-width: 0;
  border-top: 1px solid $color-grey;
}

del,
ins {
  white-space: nowrap;
  text-decoration: none;
}

del {
  position: relative;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 75%;

    content: '';
    transform: translate3d(-50%, 0, 0);

    border-top: 3px solid $color-black;
    border-radius: $border-radius-std;
    box-shadow: $shadow-std;
  }
}

svg {
  // filter: drop-shadow($shadow-text); // BUG: Disabled - Safari WebKit will not display SVG
}

mark {
  color: inherit;
  background: transparent;
}

address {
  font-family: $typeface-secondary;
}

blockquote {
  position: relative;
  font-size: 16px;

  &:before {
    content: "\"";
    position: absolute;
    left: -15px;
  }
}

.required {
  color: $color-attention;
}

.edit {
  color: $color-warm;
}

.amount {
  display: inline-block;

  padding: 5px 10px;

  color: $color-white;
  border-radius: 5px;
  background: $color-buy-button-bg;
  box-shadow: $shadow-std;

  font-family: $typeface-primary;
  line-height: normal;

  .product__price-block & {
    padding: 0;

    box-shadow: none;
  }
}

.qty {
  width: 50px;
}

.d-inlineblock {
  display: inline-block;
}

.ws-wrap {
  white-space: normal!important;
}

.bg__common {
  border-radius: $border-radius-std;
  background: $color-bg;
  box-shadow: $shadow-std;
}
