.grid {
  &__slider {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    margin: 0 0 20px;

    text-align: center;

    border-radius: $border-radius-std;
    background: $color-grey;
    box-shadow: $shadow-std;

    .textwidget {
      display: flex;

      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__options {
    display: flex;

    margin: 0 0 20px;
    padding: 0 20px;

    white-space: nowrap;

    border-radius: $border-radius-std;
    background-color: #151515;
    box-shadow: $shadow-std;

    line-height: 45px;

    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.product-loop {
  &__images-wrap {
    position: relative;

    display: flex;
    overflow: hidden;

    border-radius: $border-radius-std;
    background: $color-white;

    align-items: center;
    justify-content: center;
  }


  &__price-block {
    position: absolute;
    right: 5px;
    bottom: 5px;

    padding: 5px 10px;

    text-align: center;

    color: $color-white;
    border-radius: 3px;
    background: $color-buy-button-bg;
    box-shadow: $shadow-std;

    font-size: 13px !important;
    line-height: normal;

    flex: 1;

    del,
    ins {
      display: block;
    }

    .amount {
      padding: 0;

      color: $color-white !important;
      box-shadow: none;

      font-size: 12px;
    }

    &-big {
      .amount {
        @include rem(font-size, 20px);
      }
    }

    + .button {
      margin: 0 0 0 5px;
    }
  }

  &__images {
    display: flex;

    width: 174px;
    height: 250px;
    padding: 20px;

    align-items: center;
    justify-content: center;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }
}

.product-information {
  display: flex;

  justify-content: space-between;
}
