.menu {
  list-style: none;

  text-transform: uppercase;

  li {
    list-style: none;
  }

  > li {
    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: 15px;
  }

  &__item {
    display: inline-block;

    margin-right: $spacing-normal;

    transition: background $transition-normal;

    border-radius: $border-radius-std;
    background: $color-button-bg-normal;
    box-shadow: $shadow-std;
    line-height: 42px;

    &:hover {
      background: $color-button-bg;
    }

    &--selected {
      color: $color-white;
      border-radius: $border-radius-std;
      background: $color-button-bg;
      box-shadow: $shadow-std;
    }
  }

  &__link {
    padding: 0 $spacing-large;
  }
}

.sub-menu {
  display: none;

  &__item {
    display: block;
    text-align: left;
    margin-bottom: $spacing-small;

      img {
        display: inline-block;
        width: 20px;
        margin-right: $spacing-normal;
      }
  }

  &__link {
    padding: $spacing-medium $spacing-normal;
  }
}

.bc {
  overflow: hidden;

  white-space: nowrap;
  text-transform: uppercase;

  font-size: $font-size-small;
  border-radius: $border-radius-std;
  box-shadow: $shadow-std;
  padding: $spacing-medium;

  a {
    color: $color-warm;
  }

  &__delim {
    margin: 0 3px;
  }

  &__item {
    padding: 0 $spacing-small;
  }
}

.woocommerce-MyAccount-navigation {
  margin-bottom: $spacing-medium;

  ul {
    display: flex;

    list-style: none;
  }

  li {
    margin: $spacing-small $spacing-small $spacing-small 0;

    border-radius: $border-radius-std;
    box-shadow: $shadow-std;
  }

  a {
    padding: $spacing-small $spacing-medium;
  }

  .is-active {
    background: $color-button-bg;
  }
}

.filters-menu {

  &__wrap {
    display: flex;
    position: relative;
  }
}
