.woocommerce-error,
.woocommerce-message {
  display: flex;

  margin: $spacing-normal 0;
  padding: $spacing-normal $spacing-medium;

  list-style: none;

  border-radius: $border-radius-std;
  background: $color-black;
  box-shadow: $shadow-std;

  align-items: center;
  flex-wrap: wrap;

  li {
    display: flex;

    align-items: center;
    width: 100%;
  }

  .button {
    margin-right: $spacing-medium;
  }
}

.woocommerce-error {
  background: $color-red;
}

.woocommerce-message,
.woocommerce-success {
  background: $color-go;
}
