.product {

  &__title {
    padding-bottom: $spacing-medium;
    margin-bottom: $spacing-medium;
    border-bottom: 1px solid $color-grey;
  }

  &__mainblock {
    padding: $spacing-medium;

    border-radius: $border-radius-std;
    background: $color-bg;
    box-shadow: $shadow-std;

    flex: 1 0 310px;
  }

  &__left-wrap {
    height: 100%;

    @media only screen and (min-width: 768px) {
      position: sticky;
      top: 0;
    }
  }

  &__main-image {
    display: block;
    background-color: $color-bg-thumbnails;
    border-radius: $border-radius-std;
    box-shadow: $shadow-std;

    img {
      border-radius: $border-radius-std;
    }
  }

  &__banner {
    margin-bottom: $spacing-medium;
    padding: $spacing-medium;

    border-radius: $border-radius-std;
    background: $color-bg;

    flex: 1 0 180px;
  }

  &__gallery-control {
    display: none;

    margin: $spacing-medium 0 0;
  }

  .swiper-wrapper {
    align-items: center;
  }

  &__image {
    box-sizing: border-box;
    padding: 1px;
  }

  &__price-block {
    text-align: center;

    color: $color-white !important;
    border-radius: $border-radius-std;
    background: $color-buy-button-bg;
    box-shadow: $shadow-std;

    font-size: 13px;
    line-height: normal;

    flex: 1;
    @include rem(padding, $spacing-medium);

    del,
    ins {
      display: block;
    }

    .amount {
      color: $color-white !important;

      font-size: $font-size-small;
    }

    &-big {
      @include rem(font-size, 24px);
    }

    + .button {
      margin: 0 0 0 $spacing-small;
    }
  }

  &__buy-btn {
    overflow: hidden;

    max-width: 80px;

    text-overflow: ellipsis;

    flex: 1;
  }

  &__details-wrap {
    padding: $spacing-medium;

    border-radius: $border-radius-std;
    background: $color-bg;
    box-shadow: $shadow-std;

    > div {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__details-block {
    margin-bottom: $spacing-medium;
  }
}

.product {
  &__attributes {
    td,
    p {
      letter-spacing: 1px;
    }

    td {
      width: 100%;
    }

    p {
      margin: 0;
    }
  }
}

.addto {
  display: flex;

  width: 100%;
  width: calc(100% + 2 * 8px);
  margin: 0 -8px;

  flex-wrap: wrap;
  justify-content: space-between;

  td {
    padding: 0;

    font-family: $typeface-primary;
  }

  td.value {
    text-align: right;
  }

  input[type='submit'] {
    display: none;
  }

  .qty-block {
    flex: 1 0 150px;
  }

  .button {
    display: flex;

    margin: 0 8px;

    align-items: center;
    flex: 1 0 150px;
    justify-content: center;
  }

  .variations_button {
    display: flex;

    width: 100%;

    justify-content: space-between;
  }

  &__icon {
    margin: 0 $spacing-small 0 0;
  }
}

.product-stock {
  margin: $spacing-medium 0;
}

.product-meta {
  a {
    display: inline-block;
    display: inline-block;

    margin: 0 $spacing-normal $spacing-normal 0;
    padding: $spacing-small $spacing-medium;

    text-transform: uppercase;

    color: #333;
    border-radius: $border-radius-medium;
    background: $color-warm;
    box-shadow: $shadow-std;
    text-shadow: none;

    font-size: $font-size-small;
  }
}

.product-qty {
  &__wrap {
    display: flex;

    margin: $spacing-normal;
    padding: 0 $spacing-normal;

    border-radius: $border-radius-std;
    background: $color-button-bg-normal;
    box-shadow: $shadow-std;

    align-items: center;
    justify-content: center;

    label {
      height: 42px;

      text-transform: none;

      line-height: 42px;
    }

    input {
      display: flex;

      border: 0!important;
      background: none;
      box-shadow: none;

      font-size: 17px;
    }
  }
}

.sale {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;

  padding: $spacing-small $spacing-normal;

  border-radius: 0 0 0 $border-radius-std;
  background: $color-buy-button-bg;

  align-items: center;

  &__label {
    margin-right: $spacing-normal;
  }
}

.product-thumb {

  &__gallery {
    margin-top: $spacing-medium;
    column-count: 4;
    column-gap: $spacing-small;
    padding: $spacing-small;
    background-color: $color-bg-thumbnails;
    border-radius: $border-radius-std;
    box-shadow: $shadow-std;
  }

  &__link {
    width: 100%;
  }

}

.related {
  overflow: hidden;

  &__wrapper {
    padding-right: 0;
    padding-left: 0;
  }
}

.product-variations {

  &__attribute {
    display: inline-block;
    margin: 0 $spacing-normal $spacing-normal 0;
    padding: $spacing-small $spacing-medium;
    text-transform: uppercase;
    color: #333;
    border-radius: $border-radius-medium;
    background: $color-warm;
    box-shadow: $shadow-std;
    text-shadow: none;
    font-size: $font-size-small;
  }

  &__cart {
    display: flex;
  }

  &__price {
    display: inline-block;
    padding: $spacing-small $spacing-medium;
    text-align: center;
    color: #fff;
    border-radius: $border-radius-std;
    background: $color-buy-button-bg;
    box-shadow: $shadow-std;
    font-size: $font-size-small;
  }
}
