.search {
  &__form {
    display: flex;
  }

  &__field,
  &__select {
    box-sizing: border-box;
    // !important exception for input[type="text"] specificity. Firefox needs height value to be set.
    height: 48px !important;
    padding: 0 $spacing-medium;

    box-shadow: $shadow-std;

    line-height: 48px;
  }

  &__field {
    border-radius: $border-radius-std 0 0 $border-radius-std !important;
    flex: 4;
  }

  &__select {
    text-transform: uppercase;

    border-radius: 0;
    background: $color-black;
    color: $color-white;

    flex: 2;
    max-width: 130px;
  }

  &__button {
    height: 48px;
    padding: 0 10px 0 30px;

    border-radius: 0 $border-radius-std $border-radius-std 0;
    background: $color-button-bg;

    flex: 1;
    position: relative;

    svg {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
