.search {
  &__form {
    display: flex;
  }

  &__field,
  &__select {
    box-sizing: border-box;
    height: 40px;
    margin: 0;
    padding: 0 15px;

    box-shadow: $shadow-std;

    line-height: 40px;
  }

  &__field {
    border-radius: 3px 0 0 3px!important;
    flex: 4;
  }

  &__select {
    text-transform: uppercase;

    border-radius: 0;
    background: $color-black;
    color: $color-white;

    flex: 2;
  }

  &__button {
    height: 40px;
    padding: 0 10px 0 30px;

    border-radius: 0 3px 3px 0;
    background: $color-button-bg;

    flex: 1;
    position: relative;

    svg {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
