.sidebar_grid > .widget-container {
  margin: 0 0 $spacing-medium;
  padding: $spacing-medium $spacing-large;

  border-radius: $border-radius-std;
  background-color: $color-bg;
  box-shadow: $shadow-std;
}
