.product-grid {
  width: 100%;
  margin: 0;
}

.slider-promo {
  &__wrapper {
    align-items: center;

    img {
      width: 100%;
    }
  }
}

.slider-conf {
  &__v-cent {
    position: relative;
    top: 50%;

    transform: translateY(-50%);
  }
}

.swiper-slide {
  height: auto;
}
