$site-font-main: "Oswald", "Helvetica Neue", Arial, sans-serif;
$site-font-secondary: "Open Sans", "Helvetica Neue", Arial, sans-serif;

$site-color-alt: #ff9500;
$site-color-red-light: #e00;
$site-color-red-std: #a30000;

$site-color-dark-light: #151515;
$site-color-white: #fff;

$site-shadow-std: 2px 2px #111;
