// Todo: Oranienbaum

$typeface-primary: 'Oswald', 'Helvetica Neue', Arial, sans-serif;
$typeface-secondary: 'Helvetica Neue', Arial, sans-serif;

// Colors
// $color-warm: #ff9500;
$color-warm: #ffc000;
// $color-red: #ff0513; // Official designated color-red
$color-red: #a30000; // Alternative dark color-red
// $color-red: #821196;
$color-black: #340644;
$color-charcoal: #340644;
// $color-black: #151515; // alt 26292f
// $color-charcoal: #222;
// $color-charcoal: #261c2f;
// $color-grey: #333;
$color-grey: rgba(#340644, .5);
// $color-grey: rgba(51, 51, 51, .5);
$color-white: #fff;
$color-blue: #11aff1;
// $color-blue: #0c68af;

// Structural colors
$color-button-bg: linear-gradient(45deg,#ff00f6,#00a99d);
$color-buy-button-bg: linear-gradient(to left,#9f2af8 ,#f82a53);
$color-attention: $color-red;
$color-button-bg-normal: rgba(#340644, .5); // Rec: better choice ? #340644
$color-go: #00b31a;
$color-bg: rgba(186, 0, 251, .15);
$color-bg-light: rgba(255, 255, 255, 0.85);
$color-bg-thumbnails: #fff;
$color-input-bg-normal: rgba(186, 0, 251, .15);

// Text colors
$color-text-light: #000;

// Font weights.
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;


$browser-context: 16px;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

$font-size-small: em(12px);
$font-size-normal: em(16px);
$font-size-button: em(14px);

$line-height-normal: 1.2;

// $shadow-std: 2px 2px $color-black;

$shadow-std: none;
// $shadow-std: 0 45px 100px rgba(0, 0, 0, 0.4);
// $shadow-std: 0 25px 100px rgba(0, 0, 0, .4);
$shadow-text: none;
$transition-normal: 500ms;
$border-radius-std: 4px;
$border-radius-medium: 15px;
$border-radius-round: 50%;

// Use 8px grid
$spacing-small: 4px;
$spacing-normal: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
