// Todo: Oranienbaum
$typeface-primary: 'Oswald', 'Helvetica Neue', Arial, sans-serif;
$typeface-secondary: 'Helvetica Neue', Arial, sans-serif;
$font-size-normal: 16px;

// Colors
// $color-warm: #ff9500;
$color-warm: #ffc000;
// $color-red: #ff0513; // Official designated color-red
$color-red: #a30000; // Alternative dark color-red
// $color-red: #821196;
$color-tertiary: #00b31a;
$color-black: #340644;
$color-charcoal: #340644;

// $color-black: #151515;
// $color-charcoal: #222;
// $color-charcoal: #261c2f;
// $color-grey: #333;
$color-grey: rgba(#340644, .5);
// $color-grey: rgba(51, 51, 51, .5);
$color-white: #fff;
$color-blue: #11aff1;
// $color-blue: #0c68af;

// Font weights.
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-normal: 1.2;

// $shadow-std: 2px 2px $color-black;

$shadow-std: 0 0 15px rgba(0, 0, 0, .46);
// $shadow-std: 0 45px 100px rgba(0, 0, 0, 0.4);
// $shadow-std: 0 25px 100px rgba(0, 0, 0, .4);
$shadow-text: 2px 2px 5px $color-black;
$transition-normal: 500ms;
$border-radius-std: 3px;
