.form-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__col {
    background: rgba($color-grey, .5);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: $shadow-std;
  }
}
