.button {
  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  padding: 7px 10px;

  cursor: pointer;
  user-select: none;
  transition: background-color $transition-normal;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;

  color: $color-white;
  border: none;
  border-radius: 3px;
  box-shadow: $shadow-std;
  text-shadow: $shadow-text;

  font-family: $typeface-primary;
  font-size: 11px;
  line-height: 1.5;
  background: $color-button-bg;

  &:hover {
    background: $color-red;
  }

  &.active {
    background: $color-buy-button-bg;
  }

  &.medium {
    padding: 15px 20px;

    font-size: 14px;
  }

  &.big {
    padding: 20px;

    @include rem(padding, 20px);
    @include rem(font-size, 24px);
  }

  &__icon {
    width: 1em;
    height: 1em;
    margin: 0 0 0 1em;
  }
}
