.button {
  display: inline-block;

  padding: 7px 10px;
  height: auto;
  line-height: 1.5;
  border-radius: 3px;

  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;

  color: $color-white;
  border: none;
  box-shadow: $shadow-std;
  text-shadow: $shadow-std;

  font-family: $typeface-primary;
  font-size: 11px;
  transition: background-color $transition-normal;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background: $color-red;
  }

  &.active {
    background: $color-red;
  }

  &.medium {
    padding: 15px 20px;

    font-size: 14px;
  }

  &.big {
    padding: 20px 50px;

    font-size: 16px;
  }

  &__icon {
    margin: 0 0 0 1em;
    width: 1em;
    height: 1em;
  }
}
