.cat-list {

  &__title {
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 0 0 5px;
    font-size: 14px;
  }

  &__count {
    font-size: .7em;
    /* height: 35px; */
    display: inline-block;
    background: rgba(0,0,0,.5);
    padding: 2px 11px;
    border-radius: 3px;
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__subcat {
    display: none;
    list-style: none;

    .cat-list__group-open & {
      display: block;
    }
  }

  &__subcat-control {
    position: absolute;
    top: 0;
    right: 0;
  }
}
