.cat-list {
  &__title {
    position: relative;

    display: flex;

    height: 35px;
    margin: 0 0 5px;

    font-size: 14px;

    align-items: center;
  }

  &__count {
    position: absolute;
    top: 50%;
    right: 35px;
    /* height: 35px; */

    display: inline-block;

    padding: 2px 11px;

    transform: translateY(-50%);

    border-radius: 3px;
    background: rgba(0,0,0,.5);

    font-size: .7em;
  }

  &__subcat {
    display: none;

    list-style: none;

    .cat-list__group-open & {
      display: block;
    }
  }

  &__subcat-control {
    position: absolute;
    top: 0;
    right: 0;
  }
}
