.control {

  &__items {
    user-select: none;
  }

  &__up,
  &__down,
  &__prev,
  &__next {
    padding: 5px;

    cursor: pointer;

    background: $color-black;
    transition: color $transition-normal;
  }

  &__up,
  &__down {
    transform: rotate(90deg);
  }
}

.swiper-button-disabled {
  cursor: not-allowed;
  color: $color-charcoal;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
