.control {
  &__items {
    user-select: none;
  }

  &__up,
  &__down,
  &__prev,
  &__next {
    padding: 5px;

    cursor: pointer;
    transition: color $transition-normal, transform $transition-normal;

    border-radius: $border-radius-std;
    background: $color-black;
    box-shadow: $shadow-std;
  }

  &__up {
    transform: rotate(-90deg);
  }

  &__down {
    transform: rotate(90deg);
  }
}

.swiper-button-disabled {
  cursor: not-allowed;

  color: $color-charcoal;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  transition: opacity 300ms;

  opacity: 1;
}

.img-padding-ratio__wrap {
  position: relative;

  width: 100%;

  a,
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
