.is-disabled {
  display: none;
}

.f-center {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.w100 {
  width: 100%;
}

.c-warm {
  color: $color-warm!important;
}

@media only screen and (min-width: 980px) {
  .hidden-desktop {
    display: none !important;
  }
}
