body {
  font-family: $typeface-primary;
  background-image: -webkit-radial-gradient(45% center, circle, rgba(17, 52, 181, 0.9) 40%, rgba(234, 0, 64, 0.9));
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h2 {
  margin: 0 0 15px;
}

h5 {
  margin: 0 0 5px;
}

p, td {
  font-family: $typeface-secondary;
}

table {
  width: 100%;
}

tr {
  &.alt {
    background: rgba($color-dark-light, .2);
  }
}

th,
td {
  border: 0;
  text-align: left;
  font-weight: $font-weight-normal;
  padding: 10px;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

select {
  font-family: $typeface-primary;
}

select,
input {
  border-radius: 5px;
  height: 30px;
  background: rgba($color-dark-light, .3);
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 30px;
  box-shadow: none;
}

.button {
  font-family: $typeface-primary;
}

.amount {
  padding: 5px 10px;
  box-shadow: 2px 2px #111;
  border-radius: 5px;
  background-color: $color-red-std;
  text-shadow: 2px 2px $color-dark-light;
  color: $color-white;
  line-height: normal;
  font-family: $typeface-primary;

  .product__price-block & {
    padding: 0;
    box-shadow: none;
  }
}
