body {
  background-image: -webkit-radial-gradient(45% center, circle, rgba(17, 52, 181, 0.9) 40%, rgba(234, 0, 64, 0.9));
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h2 {
  margin: 0 0 15px;
}

h5 {
  margin: 0 0 5px;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}
