#top-cart {

  .amount {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $color-red;
    box-shadow: $shadow-std;
    
    color: $color-white !important;
    line-height: normal;
  }
}
