#top-cart {

  .amount {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $color-red-std;
    box-shadow: 2px 2px $color-dark-light;
    text-shadow: 2px 2px $color-dark-light;
    color: $color-white !important;
    line-height: normal;
  }
}
