#top-cart {

  .amount {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #a30000;
    box-shadow: 2px 2px #111;
    text-shadow: 2px 2px #111;
    color: #fff !important;
    line-height: normal;
  }
}
