.f-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper {
  // background: $color-charcoal;
  // background: rgba($color-charcoal, .8);
  background: rgba($color-charcoal, .4);
  box-shadow: 0 1px 6px $color-black;
  box-sizing: border-box;
}

.container {

  &__footer {
    box-sizing: border-box;
    width: 100%!important;
  	margin-top: 40px;
    padding: 20px;
  	background: $color-grey;
    box-shadow: $shadow-std;
  }
}
