.menu a {
  box-sizing: border-box;
}

.menu>ul>li>a {
	padding: 0 16px;
  line-height: 42px;
}

.current_page_parent > a,
.current_page_parent > a:hover,
.current-menu-item > a,
.current-menu-item > a:hover {
	background-color: $color-red;
	color: $color-white;
	box-shadow: $shadow-std;
	border-radius: $border-radius-std;
}

.menu {
  .page_item_has_children {
    // position: absolute;
    // padding: 10px;
    // list-style: none;
  }
}

.bc {
  text-transform: uppercase;
  margin: 5px 10px;
  font-size: 11px;
  line-height: 42px;
  overflow: hidden;
  white-space: nowrap;

  &__delim {
    margin: 0 5px;
  }

  a,
  &__current {
    padding: 0 5px;
  }

  a {
    color: $color-warm;
  }
}
