.menu {
  .page_item_has_children {
    // position: absolute;
    // padding: 10px;
    // list-style: none;
  }
}

.bc {
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 11px;

  &__delim {
    margin: 0 5px;
  }

  a {
    color: $color-warm;
  }
}
