.product {
  &__mainblock {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;

    border-radius: $border-radius-std;
    background: rgba($color-black, .2);
    box-shadow: $shadow-std;

    flex: 1 0 310px;
  }

  &__left {
    overflow: hidden;

    margin-bottom: 20px;

    border-radius: $border-radius-std;
  }

  &__title {
    display: block;
    overflow: hidden;

    height: 35px;
    margin: 5px 0;

    text-align: center;
    text-transform: uppercase;

    font-size: 13px;
    font-weight: 100;
    line-height: 1.35;
  }

  &__info-block {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    padding: 0 5px;

    border-bottom-right-radius: $border-radius-std;
    border-bottom-left-radius: $border-radius-std;
  }

  &__main-image-wrap {
    overflow: hidden;

    border-radius: $border-radius-std;
    background: $color-white;

    flex: 1 0 290px;
  }

  &__main-image {
    display: block;
  }

  &__banner {
    margin-bottom: 20px;
    padding: 20px;

    border-radius: $border-radius-std;
    background: rgba($color-black, .2);

    flex: 1 0 180px;
  }

  &__gallery {
    // margin: 10px 0;
  }

  &__gallery-control {
    margin: 20px 0 0;
  }

  &__gallery-slider {
    border-bottom-right-radius: $border-radius-std;
    border-bottom-left-radius: $border-radius-std;
    background: $color-white;
    height: 80px;
  }

  .swiper-wrapper {
    align-items: center;
  }

  &__image {
    box-sizing: border-box;
    padding: 1px;

    border-radius: $border-radius-std;
  }

  &__image-object {
    width: 75px;
    margin: 0;
  }

  &__price-block {
    padding: 5px 10px;

    text-align: center;

    color: $color-white !important;
    border-radius: 3px;
    background-color: $color-red;
    box-shadow: $shadow-std;

    font-size: 13px !important;
    line-height: normal;

    flex: 1;

    del,
    ins {
      display: block;
    }

    .amount {
      color: $color-white !important;

      font-size: 12px;
    }

    &-big {
      .amount {
        @include rem(font-size, 20px);
      }
    }

    + .button {
      margin: 0 0 0 5px;
    }
  }

  &__buy-btn {
    overflow: hidden;

    max-width: 80px;

    text-overflow: ellipsis;

    flex: 1;
  }

  &__purchase {
    display: flex;

    margin: 5px 0;

    align-items: center;
    justify-content: space-around;
  }

  &__details-wrap {
    margin-bottom: 20px;
    padding: 20px;

    border-radius: $border-radius-std;
    background: rgba($color-black, .2);
    box-shadow: $shadow-std;

    > div:first-child {
      margin-bottom: 20px;
    }
  }
}

.product {
  &__related {
    position: relative;

    padding: 20px;

    border-radius: $border-radius-std;
    background: rgba($color-black, .2);
    box-shadow: $shadow-std;
  }

  &__related-header {
    margin-right: 100px;
  }

  &__control-items {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.product {
  &__attributes {
    td,
    p {
      letter-spacing: 1px;
    }

    td {
      width: 100%;
    }

    p {
      margin: 0;
    }
  }
}

.cart__add-to {
  display: flex;

  width: 100%;

  flex-wrap: wrap;
  justify-content: space-between;

  td {
    padding: 0;

    font-family: $typeface-primary;
  }

  td.value {
    text-align: right;
  }

  .qty-block {
    flex: 1 0 150px;
  }

  .button {
    flex: 1 0 150px;
  }

  .variations_button {
    display: flex;

    width: 100%;

    justify-content: space-between;
  }
}

.product-stock {
  margin: 15px 0;
}

.product-cart {
  &__variations {
    display: flex;

    flex-wrap: wrap;

    select {
      margin: 0 10px 10px 0;

      // flex: 1;
    }
  }
}


.product__meta {
  a {
    display: inline-block;

    text-transform: uppercase;

    color: $color-warm;
  }

  @at-root .posted-in__header, .tagged-as__header {
    margin: 0 5px 0 0;

    text-transform: uppercase;
  }
  @at-root .separator__tag {
    margin: 0 5px;

    text-transform: uppercase;
  }
}

.product-qty {
  &__wrap {
    display: flex;

    margin: 10px;
    padding: 0 10px;

    border-radius: 3px;
    background: $color-grey;
    box-shadow: $shadow-std;

    align-items: center;
    justify-content: center;

    label {
      height: 42px;

      text-transform: none;

      line-height: 42px;
    }

    input {
      display: flex;

      border: 0!important;
      background: none;
      box-shadow: none;

      font-size: 17px;
    }
  }
}

.product-sale {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: $color-red;
}
