.product {

  &__left {
    display: flex!important;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__title {
    display: block;
    overflow: hidden;

    height: 35px;
    margin: 5px 0;

    text-align: center;
    text-transform: uppercase;

    font-size: 13px;
    font-weight: 100;
    font-style: italic;
    line-height: 1.35;
  }

  &__info-block {
    display: flex;
    flex-direction: column;
  }

  &__main-image-wrap {
    width: 100%!important;
  }

  &__main-image {
    width: 100%!important;
  }

  &__gallery {
    // margin: 10px 0;
  }

  &__gallery-slider {
    background: $color-white;
  }

  .swiper-wrapper {
    align-items: center;
  }

  &__image-object {
    width: 75px;
    margin: 0;
  }

  &__price-block {
    padding: 5px 10px;

    text-align: center;

    color: $color-white !important;
    border-radius: 3px;
    background-color: $color-red;
    box-shadow: 2px 2px $color-black;
    text-shadow: 2px 2px $color-black;

    font-size: 13px !important;
    line-height: normal;

    flex: 1;

    del,
    ins {
      display: block;
    }

    .amount {
      color: $color-white !important;

      font-size: 12px;
    }

    &-big {

      .amount {
        font-size: 25px;
      }
    }
  }

  &__buy-btn {
    overflow: hidden;

    max-width: 80px;

    text-overflow: ellipsis;

    flex: 1;
  }

  &__purchase {
    display: flex;

    margin: 5px 0;

    align-items: center;
    justify-content: space-around;
  }
}

.product {
  &__related {
    position: relative;
  }

  &__related-header {
    margin-right: 100px;
  }

  &__control-items {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.product {

  &__attributes {

    td,
    p {
      color: $color-tertiary;
      letter-spacing: 1px;
    }

    td {
      width: 100%;
    }

    p {
      margin: 0;
    }
  }
}

.cart__add-to  {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  td {
    padding: 0;
    font-family: $typeface-primary;
  }

  td.value {
    text-align: right;
  }

  .qty-block {
    flex: 1;
    margin: 15px 15px 15px 0;
  }

  .button {
    flex: 1;
  }

  .variations_button {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

}

.cart__variations {

  td, th {
    padding: 5px 0;
    text-align: right;
  }
}

.product-stock {
  margin: 20px 0;
}

.product-cart {

  &__reset-wrap {
    padding: 10px 0;
    text-align: right;
  }
}

.product__meta {

  a {
    color: $color-warm;
    text-transform: uppercase;
    display: inline-block;
  }

  @at-root .posted-in__header, .tagged-as__header {
    margin: 0 5px 0 0;
    text-transform: uppercase;
  }
  @at-root .separator__tag {
    margin: 0 5px;
    text-transform: uppercase;
  }
}
