.product {

  &__left {
    display: flex!important;
    flex-direction: row-reverse;
  }

  &__title {
    display: block;
    overflow: hidden;

    height: 35px;
    margin: 5px 0;

    text-align: center;
    text-transform: uppercase;

    font-size: 13px;
    font-weight: 100;
    font-style: italic;
    line-height: 1.35;
  }

  &__info-block {
    display: flex;
    flex-direction: column;
  }

  &__main-image-wrap {
    width: 100%!important;
  }

  &__main-image {
    width: 100%!important;
  }

  &__gallery {
    margin-right: 5px;
  }

  &__gallery-slider {
    max-height: 520px;
    margin-bottom: 10px;
  }

  &__image-object {
    width: 75px;
    margin: 0 0 10px;
  }

  &__price-block {
    margin: 0 5px 0 0;
    padding: 5px 10px;

    text-align: center;

    color: $color-white !important;
    border-radius: 3px;
    background-color: $color-red-std;
    box-shadow: 2px 2px $color-dark-light;
    text-shadow: 2px 2px $color-dark-light;

    font-size: 13px !important;
    line-height: normal;

    flex: 1;

    del,
    ins {
      display: block;
    }

    .amount {
      color: $color-white !important;

      font-size: 12px;
    }
  }

  &__buy-btn {
    overflow: hidden;

    max-width: 80px;

    text-overflow: ellipsis;

    flex: 1;
  }

  &__purchase {
    display: flex;

    margin: 5px 0;

    align-items: center;
    justify-content: space-around;
  }
}

.product {
  &__related {
    position: relative;
  }

  &__related-header {
    margin-right: 100px;
  }

  &__control-items {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.product {

  &__attributes {

    td,
    p {
      color: $color-tertiary;
      letter-spacing: 1px;
    }

    td {
      width: 100%;
    }

    p {
      margin: 0;
    }
  }
}
