.search {

  &__form {
    display: flex;
  }

  &__field,
  &__select {
    box-sizing: border-box;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    margin: 0;
    box-shadow: 2px 2px $color-dark-light;
  }
  
  &__select {
    background: $color-dark-light;
  }

  &__button {
    background-color: $color-red;
    line-height: 40px;
    height: 40px;
  }
}
