.product {

  &__related-slider {
    padding: 0 0 40px;
  }
}

.product-grid {
  width: 100%;
  margin: 0;
}

.slider-promo {

  &__wrapper {
    // max-height: 300px;
    align-items: center;

    img {
      width: 100%;
    }
  }
}
