$wenk-font-size: 13px !default;
$wenk-font-color: #fff !default;
$wenk-bg-color: $color-red !default;
$wenk-length-small: 80px !default;
$wenk-length-medium: 150px !default;
$wenk-length-large: 260px !default;

[data-wenk] {
  position: relative;
  &:after {
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;

    display: block;
    visibility: hidden;

    width: auto;
    padding: .8rem;

    content: attr(data-wenk);
    transition: all .3s;
    transform: translate(-50%, 10px);
    text-align: left;
    white-space: pre;
    pointer-events: none;

    opacity: 0;
    color: $wenk-font-color;
    border-radius: $border-radius-std;
    background-color: $wenk-bg-color;
    box-shadow: $shadow-std;

    font-size: $wenk-font-size;
    line-height: 1.25rem;
  }
  &:after {
    opacity: 0;
  }
  &:hover {
    overflow: visible;
    &:after {
      display: block;
      visibility: visible;

      transform: translate(-50%, -10px);

      opacity: 1;
    }
  }

  /* ===[Tooltip Down]=== */
  &.wenk--bottom,
  &[data-wenk-pos='bottom'] {
    &:after {
      top: 100%;
      bottom: auto;
      left: 50%;

      transform: translate(-50%, -10px);
    }
    &:hover {
      &:after {
        transform: translate(-50%, 10px);
      }
    }
  }

  /* ===[Tooltip Left]=== */
  &.wenk--left,
  &[data-wenk-pos='left'] {
    &:after {
      top: 50%;
      right: 100%;
      bottom: auto;
      left: auto;

      transform: translate(10px, -50%);
    }
    &:hover {
      &:after {
        transform: translate(-10px, -50%);
      }
    }
  }

  /* ===[Tooltip Right]=== */
  &.wenk--right,
  &[data-wenk-pos='right'] {
    &:after {
      top: 50%;
      bottom: auto;
      left: 100%;

      transform: translate(-10px, -50%);
    }
    &:hover {
      &:after {
        transform: translate(10px, -50%);
      }
    }
  }

  /* ===[Length of tooltip]=== */
  &[data-wenk-length='small']:after,
  &.wenk-length--small:after {
    width: $wenk-length-small;

    white-space: normal;
  }
  &[data-wenk-length='medium']:after,
  &.wenk-length--medium:after {
    width: $wenk-length-medium;

    white-space: normal;
  }
  &[data-wenk-length='large']:after,
  &.wenk-length--large:after {
    width: $wenk-length-large;

    white-space: normal;
  }
  &[data-wenk-length='fit']:after,
  &.wenk-length--fit:after {
    width: 100%;

    white-space: normal;
  }

  /* ===[Alignment of tooltip]=== */
  &[data-wenk-align='right']:after,
  &.wenk-align--right:after {
    text-align: right;
  }
  &[data-wenk-align='center']:after,
  &.wenk-align--center:after {
    text-align: center;
  }
}
