// scss-lint:disable all

.wrapper {
  overflow: hidden;
}
select {
  -moz-appearance: none;
}
.main-image {
  background-color: $color-white;
}
.product_image .main-image img {
  width: 100%!important;
  height: auto!important;
}
.product-grid .product-name-price {
  text-align: center !important;
}
.attachment-shop_single {
  background: $color-white !important;
}
.block-head,
.widget_categories .widget-title {
  padding-top: 0;
  padding-bottom: 0;

  font-size: 24px !important;
}
.fixed-header {
  padding-top: 0 !important;
}
.logo a {
  font-weight: 100;
  font-style: normal;
}
.logo .logo-text-red {
  font-weight: 100;
  font-style: normal;
}
.fixed-header-area .logo {
  max-width: 165px;
  margin-bottom: 0 !important;
}
.header-type-default .logo img {
  max-width: 195px !important;
}
.header-type-variant2 .logo {
  margin-top: -15px !important;
  margin-bottom: 0 !important;
}
#swipebox-overlay img {
  background: $color-white;
}
.widget-container select {
  width: 187px !important;
  height: 32px;
  margin-bottom: 0;
  padding: 3px 4px 5px 6px !important;

  color: $color-grey;
  background: url('../images/legacy/select_arrow.png') no-repeat 95% center;

  font-weight: 300;
  font-style: italic;
}
.widget-container select:hover {
  background-color: transparent;
}
#back-to-top {
  right: 15px;
  bottom: 15px!important;
}
#top-link {
  color: $color-white !important;
  border-radius: $border-radius-std;
  background: $color-red url('../images/legacy/arrow_up_2.png') no-repeat 12px center !important;
  box-shadow: $shadow-std;
}
/*FIXed header slimdown */
.fixed-header-area .menu > ul > li > ul {
  top: 69px;
}
.fixed-header-area .menu > ul > li > a {
  height: 65px !important;
  padding: 0 16px !important;

  line-height: 80px;
}
.fixed-header-area .menu > ul > li > a:hover {
  height: 65px !important;
  padding: 0 16px;

  line-height: 78px;
}
.back-to:before {
  color: $color-red !important;
}
.back-to {
  width: 165px !important;
}
.show_review_form {
  color: $color-red;
}
.tabs .tab-title {
  &:hover {
    color: $color-red;
  }
}
.current-cat > a {
  color: $color-red !important;
}
.category-block {
  max-width: 260px;
  height: 22px;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  padding: 4px 6px !important;

  border: transparent!important;

  font-size: 12px !important;
}
.category-block h3 {
  margin: 0 !important;

  text-transform: uppercase !important;

  font-size: 12px !important;
}
.category-block mark {
  color: $color-red;
}
.product_categories_grid .category-block:nth-child(3n+1) {
  clear: none;
}
/*line height behavior linked to .product-name a*/
.product-grid .product-information {
  position: static;

  padding: 0 5px;

  line-height: 15px !important;
}
.product-grid .product-information p {
  font-size: 14px;
}
.widget-title {
  text-align: left;

  font-size: 28px;
}
.widget_text .widget-title {
  display: inherit !important;
}
.widget_price_filter .from,
.widget_price_filter .to {
  color: $color-red!important;
}
#woocommerce-sort-by-columns {
  width: 55px;
}
.footer-black-bg .logo {
  font-size: 40px;
  line-height: 40px;
}
.after_footer {
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer_title {
  font-size: 20px;
}
ul.product_list_widget li img {
  width: 75px;
}
.product_list_widget .quantity {
  float: right !important;
}
form .form-row.terms label a {
  text-transform: capitalize;

  color: $color-warm;
}
.span3.shopping_cart_wrap.visible-desktop {
  margin-top: 15px;
}
.header {
  margin-bottom: 0 !important;
}
.widget_layered_nav {
  display: inline !important;
  float: none!important;
}
.order_details li strong,
mark {
  color: $color-warm !important;
}
.order_details strong {
  font-weight: normal;
}
#order_comments_field {
  display: inline-block;
}
.cats .block-content .wpsc_categories > li ul > li a {
  text-transform: uppercase;
}
.cats .block-content .wpsc_categories li {
  text-transform: uppercase;
}
.stock {
  float: none;
}
.myaccount_user {
  display: none;
}
.my_account_orders a {
  color: $color-warm;
}
.widget_shopping_cart .variation {
  float: left;
}
/*Remove square lists*/
.cats .block-content .wpsc_categories li {
  list-style: none!important;
}

.wpsc_top_level_categories {
  margin-left: 10px;
}
/*DOUBLE line CART*/
.widget_shopping_cart .total {
  border-top: 1px solid $color-grey!important;
}
.cart-tab {
  z-index: 10000!important;
}
.responsive-switcher a {
  color: $color-red;
}
.accountclear {
  float: left;

  width: 100%;
  margin-top: 10px;
}
/*WPCAP*/
.contact_info h5,
.product-slider h4,
h2,
h3 {
  text-transform: none;

  font-size: 27px;
  font-weight: 100;
  font-style: normal;
}
.tabs h2 {
  line-height: 30px;
}
.edit,
.edit:hover {
  display: inline-block;

  padding: 1px 12px 0;

  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;

  color: $color-white;
  border: none;
  background: $color-red;

  font-size: 12px;
  line-height: 28px;
}
.product-slider .carousel {
  height: auto !important;
}
.frontpagealt .arrow-right {
  float: right;
}
.frontpagealt {
  margin-top: 20px;
}
.center777,
.center777 h4 {
  text-align: center !important;
}
.product-grid .price .from {
  display: initial;
  float: left;

  margin-right: 5px;

  text-transform: uppercase;

  color: $color-white;

  font-size: 10px;
}
.woocommerce_message .close-parent {
  font-size: 0!important;
}
.h2mod h5 {
  text-transform: uppercase !important;

  color: $color-warm;

  font-size: 20px !important;
  font-weight: 400;
  font-style: normal;
}
.menu > ul > li > a:after {
  height: 0 !important;
}
.footer-home i,
.footer-mail i,
.footer-phone i {
  font-size: 35px;
}
.footer-mail,
.footer-phone {
  line-height: 50px!important;
}
.company_list li {
  list-style: none;

  font-size: 16px;
  line-height: 25px;
}
.company_list2 .widget-placeholder .side-text {
  width: 98%;
}
.company_list2 .comp_button {
  margin-top: 30px;

  text-align: center;
}
#product-page {
  margin-top: 0;
}
.archstock {
  position: absolute;

  width: 100%;
  max-width: 175px;

  text-align: center;
}
.archstock .stock {
  font-size: 11px!important;
}
.order_details h3 {
  text-transform: none !important;

  font-size: 16px !important;
  font-weight: 400;
  font-style: normal;
}
.woocommerce-message {
  color: $color-white !important;
}
.product-stock {
  text-transform: uppercase;
  &__header {
    color: $color-white;
  }
}
.product-stock .stock__number,
.single_variation .stock {
  color: #adff2f !important;
}
.entry-title {
  margin: 0 0 10px !important;
}
.cart_table_item .variation p {
  color: $color-warm;

  font-style: italic;
}
.opened h5 a {
  color: $color-red !important;
}
.product_description_mainblock label {
  margin: 0 10px 0 0;

  text-align: left;
  text-transform: uppercase;

  font-family: $typeface-primary;
  font-size: 12px;
}
/*Progress bar custom*/
.progress-bar {
  margin-bottom: 0;
}
.tekst_vasakule {
  float: left;

  width: 50%;
  min-width: 300px;
}
.skaala_paremale {
  float: left;

  width: 47%;
  margin-left: 20px;
}
.progress-bar div {
  width: 50%;
  height: 100%;

  border-right: 1px solid $color-black;
  background-color: #a444b1;
  background-image: linear-gradient(to right, #0b0c18, #903);
  background-size: 100% 100%, 20px 20px, 100% 100%;
}
/*Rounded border for pricetag in single product*/
.main-info span:nth-child(odd) {
  margin-right: 10px;
}
.main-info span:nth-child(even) {
  margin-left: 10px;
}
/* Thumbs under single product to 75px square */
.product_image .views-gallery {
  height: 75px;
}
.product_image .views-gallery.thumbs-count-4 .slide img {
  height: 75px;
}
.more-views-arrow.next,
.more-views-arrow.prev {
  height: 90px;
}
@media only screen and (max-width: 767px) {
  .views-gallery {
    height: 75px !important;
    margin-bottom: 25px !important;
  }
}
.search_text {
  width: 349px;
  margin-left: 15px;

  color: $color-warm!important;
}
@media only screen and (max-width: 979px) and (min-width: 768px) {
  .logo {
    margin-right: 0;
  }
}
/*Checkout process */
.cart_totals {
  max-width: 400px!important;
  padding: 20px;

  background-color: $color-grey;
}
.wc-checkout-totals .shipping th,
.wc-checkout-totals .total th {
  width: 100px!important;
}
.wc-checkout-totals tr {
  border-top: 1px solid $color-grey;
}
.tab-shipping .form-row label,
.tab-billing label {
  display: inline-block;

  width: 130px;
}
.tab-shipping .form-row select,
.tab-billing select {
  display: inline-block;

  width: 148px;

  font-family: $typeface-secondary;
}
.checkout-cont {
  float: left;

  width: 255px;
  padding: 0;

  background-color: $color-red!important;

  font-size: 14px;
  line-height: 50px!important;
}
/* Disabled elements */
.imageboxshadow img {
  box-shadow: 0 15px 10px -5px $color-black;
}
.statictagcloud a {
  margin-right: 15px;

  font-style: italic;
}
/* =Order Page
	-------------------------------------------------------------- */
.order_details {
  display: inline-block;

  margin: 0 0 1.5em;

  list-style: none;
}
.order_details li {
  float: left;

  margin-right: 2em;
  padding-right: 2em;

  text-transform: uppercase;

  border-right: 1px dashed;

  font-size: .715em;
  line-height: 1em;
}
.order_details li strong {
  display: block;

  text-transform: none;

  font-size: 1.8em;
  line-height: 3em;
}
/* Shadows */
.product-slide .product-grid,
.products_grid .product-grid {
  background: rgba($color-grey, .5);
  box-shadow: $shadow-std;
}
.entry-title {
  border-bottom: 1px solid $color-grey!important;
}
.single_variation_wrap .single_variation p.stock {
  display: none;

  margin-left: 115px;
}
.addto-container form.cart .button {
  float: right!important;
}
.tavapood_kontakt {
  p {
    float: none!important;

    width: auto!important;
    margin: 0;

    color: $color-warm!important;

    font-size: 16px;
  }
  h1,
  i {
    color: $color-warm!important;
  }
}
.tavapood h2 {
  margin: 30px 0 20px;

  color: $color-warm;

  line-height: 30px;
}
.woocommerce-error a,
.woocommerce-message a {
  margin-right: 10px;

  background-color: $color-red !important;
}
.woocommerce-error {
  li {
    display: flex;

    align-items: center;
  }
}
.woocommerce-message {
  display: flex!important;

  align-items: center;
}
.cart-popup-container .product-image img {
  width: auto !important;
  height: auto !important;
}
.cart-popup-container {
  display: none;
}
.lost_password {
  position: inherit;
}
/*In Firefox the variations options goes to the right otherwise */
.variations_form table.variations {
  float: left;
}
/* Tavapood Header fixes */
@media only screen and (max-width: 979px) {
  .header-type-variant3 .logo {
    max-width: 100%;

    text-align: center;
  }
}
/* Display companies in the footer */
.footer_container .span3:nth-child(n+3) {
  display: none;
}
@media only screen and (min-width: 768px) {
  .f-contacts {
    width: 25%!important;
  }
  .footer-big-block {
    width: 69%!important;
  }
}
/* Tavapoe elemendid */
.tava_333 {
  margin: 20px 0;

  background-color: $color-grey;
}
.tava_333 .company_list2 {
  padding: 30px;
}
.company_list2 h3 {
  color: $color-warm;
}
.company_list2 li {
  margin: 5px 0;
}
.tava_333 h4 {
  margin: 7px 10px;

  font-size: 20px;
}
/* Copyright and Payments area */
span.copyright {
  width: auto;
  margin-left: 0;

  color: $color-white;

  font-size: 17px;
  line-height: 55px;
}
.span6.footer-copyright {
  float: none!important;

  width: auto;
}
.footer-copyright,
.footer_copyright_payments {
  float: none;

  margin-top: 0;
}
.footer_copyright_payments li {
  width: inherit;
  margin: 15px;
}
#after_footer_menu,
#after_footer_payments {
  width: 100%!important;

  text-align: center;
}
.textwidget .banner {
  margin-top: 30px;
}
.cats.acc_enabled .block-content .wpsc_category_title a {
  font-size: 18px;
}
.tavpood_infoblock {
  min-height: 170px;
  padding: 10px 20px;

  background-color: $color-grey;
  box-shadow: $shadow-std;
}
.tavpood_infoblock h2 {
  margin: 0;
}
.company_list2 li,
.tavpood_infoblock li,
.tavpood_infoblock p {
  font-size: 14px;
}
.opensoon,
.opensoon2 {
  float: left;

  width: 200px;
  padding: 0 30px;
}
.opensoon2 h4 {
  color: $color-warm;

  line-height: 24px;
}
.transparentbutton .button span {
  color: $color-warm;
}
.wc-checkout-totals {
  min-width: 100%;
}
@media only screen and (max-width: 479px) {
  .cart-collaterals .cart_totals tr th {
    width: 100px;
  }
}
.sidebar_infoblock {
  padding: 20px;

  border-radius: $border-radius-std;
  background-color: $color-charcoal;
  box-shadow: $shadow-std;
}
.page-id-112 ol,
.page-id-11573 ol,
.page-id-6788 ol {
  margin: 30px;

  list-style: decimal;
}
.page-id-11573 .infotabblock a,
.page-id-6788 .infotabblock a {
  color: $color-white!important;
  background-color: $color-red!important;
}
.empty-category-block {
  img {
    width: 100%;
  }
}
.onlyphysical {
  margin: 45px 0 30px;
  padding: 20px;

  background-color: $color-black;
  box-shadow: 0 0 3px $color-black;

  line-height: 30px;
  &:first-child {
    margin: 0 0 30px;
  }
}
.onlyphysical h2 {
  color: $color-warm;
}
.onlyphysical p {
  font-size: 20px;
}
/* products-grid and products-list */
.products-list .img-wrapper {
  width: 150px!important;
}
.products-list .product-grid,
.products-list .product-grid:hover {
  background: $color-grey!important;
}
.products-list .product-grid .button {
  background: $color-charcoal!important;
}
.products-list .product-grid .product-information {
  padding: 15px 15px 0;
}
.products-list .product-name a {
  font-size: 20px!important;
  line-height: 1!important;
}
.products-list .product-name {
  text-align: left;
}
.hidden-desktop .header-phone {
  line-height: 35px;
}
#payment div.payment_box {
  padding: 25px;
}
.product-category-description {
  padding: 20px;

  background-color: $color-black;
  box-shadow: 0 0 3px $color-black;

  font-size: 14px;
}
.main-info .stock {
  margin-left: 0 !important;
}
.single_variation_wrap .single_variation span {
  float: none;
}
.reset_variations {
  width: 100%;
  padding: 10px 0 15px;

  text-align: right;
}
/* Mobile opt */
@media only screen and (max-width: 479px) {
  .statictagcloud {
    display: none;
  }
  .addto-container form.cart .button {
    float: none !important;

    margin-top: 20px !important;
  }
  .products-grid .product-grid.span2:hover .product-descr {
    display: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .products-grid .product-grid.span2:hover .product-descr {
    display: none;
  }
}
/* Tavapood uusaasta ver */
.company_list3 {
  padding: 5%;

  text-align: center;

  background: url('http://www.desirees.ee/wp-content/uploads/2015/01/background_test2.jpg') no-repeat;
  background-size: cover;
}
.company_list3 p {
  font-size: 125%;
}

.company_list3_contacts p {
  display: inline-block;

  padding: 10px;

  text-transform: uppercase;
}
#default_products_page_container {
  padding-bottom: 0;
}
.wc-proceed-to-checkout a {
  background-color: $color-red;
}
abbr[title] {
  border: none!important;
}
.fl-l {
  float: none!important;
}
// Related products slider carousel whitout JS
.product-grid .product-name a,
.product-slider .slider-title {
  white-space: normal;
}
.product-slider .carousel {
  overflow-x: scroll;

  white-space: nowrap;
}
.product-slider .product-slide {
  display: inline-block;
  float: none!important;
}
// Image carousel
.product_image .views-gallery {
  overflow-y: scroll;
}
.product_image .views-gallery .slide {
  display: inline-block;
  float: none!important;
}
.products-list .product-grid {
  display: flex;
  .img-wrapper {
    display: flex;

    height: 100%;

    align-items: center;
  }
}
.cfx:after {
  display: block;
  clear: both;

  content: '';
}
.qty-block {
  display: flex;

  align-items: center;

  .cart & {
    justify-content: center;
  }



  input,
  &__input {
    width: 60px;
    min-width: 60px;
    height: 36px!important;

    border: 1px solid transparent !important;
  }
}
.subcat {
  &__grid {
    margin: 0;
    padding: 0;

    list-style: none;
  }
  &__block {
    display: inline-block;

    padding: 10px;
  }
  &__item {
    display: block;
  }
  &__header {
    margin: 0;

    text-align: center;

    font-size: 12px !important;
  }
  &__img {
    width: 100px;
  }
}
.woocommerce-account {
  #customer_login {
    .col-1,
    .col-2 {
      display: flex;
      flex-direction: column;

      margin: 30px 0;
      padding: 30px 15px;

      background-color: $color-grey;
      box-shadow: 2px 2px $color-black;
    }
  }
  .woocommerce-MyAccount-navigation {
    ul {
      margin: 0;
      padding: 0;

      list-style: none;
    }
    li {
      display: inline-block;

      margin: 0 5px 30px;
      padding: 10px;
    }
  }
}
