// scss-lint:disable all

@media screen and (min-width:1200px) {
	.row:after,
	.row:before {
		display: table;
		line-height: 0;
		content: "";
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
	}
	.container,
	.navbar-fixed-bottom .container,
	.navbar-fixed-top .container,
	.navbar-static-top .container,
	.page-template-contacts2-php .contact-form {
		width: 1170px;
	}
	.boxed .wrapper {
		width: 1230px;
		margin: 0 auto;
	}
	.span12 {
		width: 1170px;
	}
	.span11 {
		width: 1070px;
	}
	.span10 {
		width: 970px;
	}
	.span9 {
		width: 870px;
	}
	.span8 {
		width: 770px;
	}
	.span7 {
		width: 670px;
	}
	.span6 {
		width: 570px;
	}
	.span5 {
		width: 470px;
	}
	.span4 {
		width: 370px;
	}
	.span3 {
		width: 270px;
	}
	.span2 {
		width: 170px;
	}
	.span1 {
		width: 70px;
	}
	.offset12 {
		margin-left: 1230px;
	}
	.offset11 {
		margin-left: 1130px;
	}
	.offset10 {
		margin-left: 1030px;
	}
	.offset9 {
		margin-left: 930px;
	}
	.offset8 {
		margin-left: 830px;
	}
	.offset7 {
		margin-left: 730px;
	}
	.offset6 {
		margin-left: 630px;
	}
	.offset5 {
		margin-left: 530px;
	}
	.offset4 {
		margin-left: 430px;
	}
	.offset3 {
		margin-left: 330px;
	}
	.offset2 {
		margin-left: 230px;
	}
	.offset1 {
		margin-left: 130px;
	}
	.uneditable-input,
	input,
	textarea {
		margin-left: 0;
	}
	.uneditable-input.span12,
	input.span12,
	textarea.span12 {
		width: 1156px;
	}
	.uneditable-input.span11,
	input.span11,
	textarea.span11 {
		width: 1056px;
	}
	.uneditable-input.span10,
	input.span10,
	textarea.span10 {
		width: 956px;
	}
	.uneditable-input.span9,
	input.span9,
	textarea.span9 {
		width: 856px;
	}
	.uneditable-input.span8,
	input.span8,
	textarea.span8 {
		width: 756px;
	}
	.uneditable-input.span7,
	input.span7,
	textarea.span7 {
		width: 656px;
	}
	.uneditable-input.span6,
	input.span6,
	textarea.span6 {
		width: 556px;
	}
	.uneditable-input.span5,
	input.span5,
	textarea.span5 {
		width: 456px;
	}
	.uneditable-input.span4,
	input.span4,
	textarea.span4 {
		width: 356px;
	}
	.uneditable-input.span3,
	input.span3,
	textarea.span3 {
		width: 256px;
	}
	.uneditable-input.span2,
	input.span2,
	textarea.span2 {
		width: 156px;
	}
	.uneditable-input.span1,
	input.span1,
	textarea.span1 {
		width: 56px;
	}
	.row-fluid .thumbnails {
		margin-left: 0;
	}
	.header-type-variant2 .header {
		padding-top: 20px;
	}
	.header-type-variant2 .logo {
		max-width: 420px;
	}
	.fixed-header-area .logo {
		font-size: 38px;
	}
	.fixed-header-area #main-nav,
	.header-type-variant2 #main-nav {
		max-width: 720px;
	}
	.boxed .header-type-variant4 #main-nav {
		width: 1230px;
	}
	.banners_top_row {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.banner-transform img {
		width: 100%;
	}
	.banner_top_bottom {
		box-sizing: border-box;
	}
	#banner_top_bottom_text {
		width: 75%;
	}
	.product-slider .product-slide {
		float: left;
	}
	.product-slider.cross-sells .product-slide {
		width: 270px !important;
	}
	.product-slider .product-slide::first-child {
		margin-left: 0 !important;
	}
	.product-slider.columns4 .product-image {}
	.product-slider.columns3 .product-slide,
	.product-slider.columns4 .product-slide,
	.product-slider.columns5 .product-slide,
	.product-slider.columns6 .product-slide {
		float: left;
		position: relative;
	}
	.product-slider.columns3 .span3 .product-image,
	.product-slider.columns5 .span3 .product-image {}
	.product_image .views-gallery.thumbs-count-3 {
		width: 237px;
	}
	.widget_special_offers .product-slider .product-slide {
		width: 270px !important;
	}
	.widget_special_offers .product-slider .product-slide .product-grid {
		width: 270px !important;
	}
	.product-grid .product-image img {
		height: auto;
		width: auto;
	}
	.carousel {
		height: 530px !important;
	}
	.cat-banner {
		width: 100%;
	}
	.with-sidebar .rows-count3 .product-grid {
		margin-bottom: 10px;
	}
	.rows-count3 .product-grid .img-wrapper {
		width: 270px;
	}
	.with-sidebar-left .rows-count4.shortcode-products .product-grid,
	.with-sidebar-left .rows-count5.shortcode-products .product-grid,
	.with-sidebar-left .rows-count6.shortcode-products .product-grid,
	.with-sidebar-right .rows-count4.shortcode-products .product-grid,
	.with-sidebar-right .rows-count5.shortcode-products .product-grid,
	.with-sidebar-right .rows-count6.shortcode-products .product-grid {
		width: 195px !important;
	}
	.span9.blog-post_image,
	.span9.blog-post_text,
	.span9.blog-post_title,
	.with-sidebar-left .rows-count5.shortcode-products .product-grid .span9.blog-post,
	.with-sidebar-right .rows-count5.shortcode-products .product-grid:nth-child(4n+1) {
		margin-left: 0;
		width: 100%;
	}
	.grid_content.no-sidebar {
		width: 1170px;
	}
	.grid_content.no-sidebar .cat-banner {
		width: 100%;
	}
	.product-slide .img-wrapper {
		width: 270px;
	}
	.category-block {
		float: left;
		margin-top: 20px;
		max-width: 260px;
	}
	.rows-count5.shortcode-products .product-grid {
		width: 210px !important;
	}
	.no-sidebar .rows-count4 .product-grid {
		width: 270px;
	}
	.rows-count3.shortcode-products .product-grid {
		width: 270px;
	}
	.with-sidebar- .rows-count3.shortcode-products .product-grid:nth-child(3n+1) {
		clear: none !important;
	}
	.with-sidebar- .rows-count3.shortcode-products .product-grid:nth-child(4n+1) {
		clear: both !important;
	}
	.rows-count5 .product-grid {
		width: 170px !important;
	}
	.no-sidebar .rows-count5 .product-grid {
		width: 210px !important;
	}
	.with-sidebar .rows-count5.products-grid .product-grid {
		width: 195px !important;
	}
	.with-sidebar .rows-count3.products-grid .product-grid {
		width: 270px;
	}
	.rows-count6 .product-grid {
		width: 170px !important;
	}
	.with-sidebar- .blog-post.post-portrait .post-information {
		width: 890px !important;
	}
	/* Grid Clears */
	.rows-count6 .product-grid:nth-child(5n+1) {
		clear: none;
	}
	.with-sidebar .products_grid.rows-count5 .product-grid:nth-child(3n+1) {
		clear: none;
	}
	.no-sidebar .rows-count5 .product-grid:nth-child(5n+1),
	.rows-count5.shortcode-products .product-grid:nth-child(5n+1) {
		clear: both;
	}
	.with-sidebar .rows-count5 .product-grid:nth-child(4n+1) {
		clear: both !important;
	}
	.rows-count6 .product-grid:nth-child(6n+1) {
		clear: both;
	}
	.no-sidebar .rows-count3 .product-grid:nth-child(3n+1),
	.no-sidebar .rows-count5 .product-grid:nth-child(4n+1) {
		clear: none !important;
	}
	.no-sidebar .rows-count3 .product-grid:nth-child(4n+1) {
		clear: both;
	}
	.no-sidebar .rows-count3 .product-grid {
		width: 270px;
	}
	.products_grid.rows-count3 .product-grid:nth-child(3n+1) {
		clear: both;
	}
	.with-sidebar .rows-count4 .product-grid:nth-child(4n+1) {
		clear: both;
	}
	/*-----------------------------------------*/
	.rows-count5.products-grid .product-grid .product-name {
		text-align: center;
	}
	.rows-count6.products-grid .product-grid .product-name {
		text-align: center;
	}
	.rows-count6 .product-grid .price {
		text-align: center;
		float: left;
		font-size: 14px;
		color: $color-grey;
		margin: 7px 0 12px;
		width: 100%;
	}
	.rows-count6 .product-grid .starwrapper {
		bottom: 115px;
	}
	.rows-count6 .product-grid .btn-cont {
		float: none;
	}
	#products-grid > .clear {
		clear: none;
	}
	.block-head,
	.widget_categories .widget-title {
		font-size: 28px !important;
	}
	.span5.product_image {
		width: 440px;
	}
	.span4.product_description_mainblock.productcol.summary {
		width: 460px;
	}
	.product_image .main-image img {
		width: 100%;
	}
	.span3.product_description_banner {
		float: right;
		width: 210px;
	}
	.blog-post.post-portrait .post-information {
		float: right;
		width: 590px !important;
	}
	.with-sidebar- .blog-post .post-information {
		width: 890px !important;
	}
	.blog3_post_text {
		width: 100%;
		float: none;
		margin-left: 0;
		margin-top: 100px;
	}
	.blog-post.post-horizontal .post-images {
		width: 260px;
		margin-right: 20px;
		margin-bottom: 0;
	}
	.footer_block1 img {
		max-width: 100%;
	}
	.footer-logo3 {
		margin-left: 40px;
		margin-top: -35px;
	}
	.footer_block,
	.footer_block1 {
		margin-bottom: 20px;
	}
	.footer-menu-wrap .footer_block,
	.footer-menu-wrap .footer_block1 {
		margin-bottom: 0;
	}
	.footer-big-block {
		text-align: justify;
	}
	.footer_block2 {
		width: 230px !important;
	}
	.footer_thumbs li {
		margin: 10px 20px 10px 0;
	}
	.product-grid .product-name-price {
		text-align: left;
	}
	#after_footer_menu {
		width: 470px;
	}
	#after_footer_payments {
		float: right;
	}
	.product-grid .price {
		text-align: left;
		float: left;
		width: auto;
		font-size: 14px;
		color: $color-grey;
		margin-top: 15px;
	}
	.no-sidebar .rows-count4 .product-grid .product-information .price {
		margin-top: 17px;
	}
	.no-sidebar .rows-count4.products-grid .product-grid .product-information .btn-cont {
		float: right !important;
	}
	.rows-count4 .product-grid .product-information .price {
		margin-top: 7px;
	}
	.rows-count4 .product-grid .product-information .btn-cont {
		margin-top: 12px;
	}
	.rows-count4.shortcode-products .product-grid {
		width: 270px;
	}
	.product-grid .btn-cont {
		float: right;
		margin-top: 10px;
		text-align: center;
		width: auto;
	}
	.product_layout_default .quantity {
		margin-right: 20px;
	}
	.rows-count4.shortcode-products .product-grid .bnt-cont {
		text-align: right;
	}
	.with-sidebar .rows-count4.products-grid .product-grid {
		width: 195px;
	}
	.with-sidebar .rows-count5 .product-grid .price {
		margin-top: 8px;
	}
	.slide .product-grid.span2 {
		width: 270px;
	}
	.rows-count5 .product-grid .price {
		text-align: center;
		float: none;
		margin-top: 8px;
	}
	.rows-count5 .product-grid .btn-cont {
		margin-top: 10px;
		float: none;
		text-align: center;
	}
	.widget_special_offers .product-image {}
	.cart-collaterals .cart_totals {
		max-width: 286px;
	}
	.starwrapper {
		bottom: 148px;
	}
	.typography-block .span10 {
		width: 960px;
	}
	.typography-block .span5 {
		width: 465px;
	}
	.typography-block .team-member.span4 {
		width: 360px;
	}
	#typography-tabs .tabs-left > .tab-content {
		width: 965px;
	}
	.typography-block .banner {
		width: 300px;
	}
	.modal {
		width: 660px;
	}
	.googlechart {
		padding-left: 19%;
	}
	.custom-tabs1,
	.custom-tabs2 {
		width: 530px;
	}
	.custom-tabs1 {
		float: left;
		padding-right: 40px;
		border-right: 1px solid $color-grey;
	}
	.custom-tabs2 {
		float: right;
	}
	.tabs.left-tabs .tab-content {
		width: 75%;
	}
	.tabs.left-tabs .left-titles {
		width: 25%;
	}
	.with-sidebar-left .tab-content .col2-set .col-2 .lost_password,
	.with-sidebar-right .tab-content .col2-set .col-2 .lost_password {
		left: 80px;
	}
	.account-separator {
		width: 285px;
		height: 100%;
		position: relative;
		top: 190px;
	}
	form.track-order-box .login-head .login-span-big {
		width: auto;
	}
	.tp-caption iframe {
		width: 480px !important;
	}
	.p-table {
		width: 268px;
	}
	.p-table li,
	.p-table-2 li {
		float: left;
		border-bottom: 1px solid $color-grey;
		padding: 15px;
		width: 100%;
		box-sizing: border-box;
		position: relative;
		font-size: 12px;
	}
	.p-table li:hover,
	.p-table-2 li:hover {
		background: $color-grey;
	}
	.p-table li.last:hover,
	.p-table-2 li.last:hover {
		background: $color-white;
	}
	.p-table li a i,
	.p-table-2 li a i {
		margin-right: 20px;
		line-height: 35px;
	}
	.p-table-offset {
		width: 210px;
		float: left;
		min-height: 1px;
	}
	.p-tables-wrap {
		width: 960px;
		float: right;
	}
	.with-sidebar-left .p-tables-wrap,
	.with-sidebar-right .p-tables-wrap {
		width: 100%;
	}
	.with-sidebar- .typography-block .p-tables-wrap {
		width: 960px;
	}
	/*----------- Product List -------------*/
	.products-list .product-grid {
		width: 870px !important;
	}
	.no-sidebar .products-list .product-grid {
		width: 1170px !important;
		box-sizing: border-box;
	}
	.no-sidebar .products-list .product-grid .product-information {
		width: 900px;
	}
	.no-sidebar .products-list .product-grid .product-information .product-descr {
		width: 735px;
	}
	.products-list .product-grid .product-information {
		width: 585px;
	}
	.products-list .product-grid {
		width: 870px !important;
	}
	.products-list .product-grid .product-information .product-descr {
		width: 410px;
		float: left;
	}
	ul.product_list_widget .widget-text {
		width: 125px;
	}
}
/* END media query (min-width:1200px) */
